/*
 * Styling sheet for the Pokemon Quizzes webpage
 * @author Gregory Ecklund
 * @version November 5, 2025
 */

/* BODY */
body {
    background-color: white;
}

/* Multi-Div formatting */
#divGame {
    display: flex;
}
#divTimer, #divGiveUp, #divQAndA {
    float: left;
}

/* QUESTIONS */
#divQuestions {
    color: black;
    font-weight: bolder;
    font-size: 34px;
    text-align:center;
}
#questions {
    height: 400px;
    width: 400px;
}
#divQAndA {
    width: 60%;
}

/* START BUTTON */
#divStartButton {
    text-align: center;
    height: fit-content;
    font-size: 24px;
}
#divStartButton > button {
    background-color: springgreen;
    padding: 14px;
    font-size: 80px;
}

/* RETRY BUTTON */
#divRetryButton {
    text-align: center;
}
#retryButton {
    background-color: rgba(90, 3, 252, 0.315);
    font-size: 20px;
    padding: 14px;
}

/* ANSWER BUTTONS */
#divAnswerButtons {
    text-align: center;
    height: fit-content;
}
#divAnswerButtons > button {
    font-size: 24px;
    width: 16rem;
    height: 10rem;
    color: black;
    font-weight: bold;
    border-width: 5px;
    border-color: black;
}
#answerButton1 {
    background-color: orange;
}
#answerButton2 {
    background-color:aquamarine;
}
#answerButton3 {
    background-color: green;
}
#answerButton4 {
    background-color: rgba(137, 43, 226, 0.714);
}

/* TIMER */
#divTimer {
    font-style: serif;
    font-weight: bold;
    border-radius: 35px;
    border-color: black;
    border-style: solid;
    background-color:blanchedalmond;
    color: blue;
    width: 20%;
    height: fit-content;
}
.minutes {
    flex: right;
    text-align: right;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
.seconds {
    flex: left;
    text-align: right;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

/* GIVE UP BUTTON */
#divGiveUp {
    width: 20%;
    text-align: center;
    border-color: pink;
}
#giveUpButton {
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;
}