/* Gregory Ecklund */
/* October 2025 */
/* Pokemon Quiz */

/* BODY */
body {
    background-color: white;
}

/* QUESTIONS */
.questions {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 34px;
}
#questions {
    height: 400px;
    width: 400px;
}

/* START BUTTON */
.startButton {
    text-align: center;
    height: fit-content;
    font-size: 24px;
}
.startButton > button {
    background-color: springgreen;
    padding: 14px;
    font-size: 80px;
}

/* RETRY BUTTON */
.retryButton {
    height: fit-content;
    visibility: hidden;
    text-align: center;
}
.retryButton > button {
    background-color: rgba(90, 3, 252, 0.315);
    margin-top: -80px;
    font-size: 20px;
    padding: 14px;
}

/* ANSWER BUTTONS */
.answerButtons {
    height: fit-content;
    text-align: center;
}
.answerButtons > button {
    font-size: 24px;
    width: 16rem;
    height: 10rem;
    color: black;
    font-weight: bold;
    border-width: 5px;
    border-color: black;
}
#answerButton1 {
    background-color: orange;
}
#answerButton2 {
    background-color:aquamarine;
}
#answerButton3 {
    background-color: green;
}
#answerButton4 {
    background-color: rgba(137, 43, 226, 0.714);
}

/* TIMER */
.timer {
    font-style: serif;
    font-weight: bold;
    border-radius: 35px;
    border-color: black;
    border-style: solid;
    background-color:blanchedalmond;
    color: blue;
    width: 160px;
    height: fit-content;
    float: left;
    position: absolute;
    top: 25%;
}
.minutes {
    flex: right;
    text-align: right;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
.seconds {
    flex: left;
    text-align: right;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

/* GIVE UP BUTTON */
.giveUp {
    float: right;
}
#giveUpButton {
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;
}